<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JunkinsSuite">
  <test name="junkinsTest">
    <classes>
      <class name="com.pak.jenkines.SampleProgrameDemo"/>
    </classes>
  </test> <!-- junkinsTest -->
</suite> <!-- JunkinsSuite -->
